body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
body .navigation ul {
  display: flex;
  justify-content: center;
  gap: 30px;
}
body .navigation ul a {
  text-decoration: none;
  font-weight: 600;
  font-size: 25px;
}
body .navigation ul a:visited {
  color: inherit;
}
body .navigation ul li {
  list-style: none;
}
body .all-wrap {
  background-color: #edf2f6;
  min-height: 100vh;
  margin: 0;
}
body .all-wrap .wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
body .all-wrap .wrapper h1 {
  margin-bottom: 5px;
}
body .all-wrap .wrapper p {
  margin-top: 0;
  font-size: 15px;
}
body .all-wrap .new-btn {
  width: 180px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: cornflowerblue;
  color: white;
  font-size: small;
  font-weight: bold;
}
body .all-wrap .new-btn:hover {
  background-color: indigo;
}
body .all-wrap #membership-cards {
  display: flex;
  justify-content: center;
}
body .all-wrap #membership-cards .card-div {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 400px;
  height: 200px;
  margin: 20px;
  background-color: white;
}
body .all-wrap #membership-cards .card-div p {
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
  margin-bottom: 0;
}
body .all-wrap #membership-cards .card-div .description-txt {
  font-weight: lighter;
  font-size: 11px;
  padding-bottom: 15px;
  margin-bottom: 0px;
}
body .all-wrap #membership-cards .card-div .count-txt {
  font-size: smaller;
  margin: 0;
  border-bottom: 1px solid lightgray;
  padding-bottom: 5px;
}
body .all-wrap #membership-cards .card-div .del-btn {
  align-self: flex-end;
  border: none;
  border-radius: 5px;
  padding: 15px;
  background-color: pink;
  margin: 8px;
}
body .all-wrap #membership-cards .card-div .del-btn:hover {
  background-color: palevioletred;
}
body .all-wrap #membership-cards .card-div .del-btn .fa-trash {
  color: red;
}
body .all-wrap .membership-form-wrapper {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
body .all-wrap .membership-form-wrapper #create-membership {
  border: 1px solid lightgray;
  margin: 20px;
  gap: 15px;
  display: flex;
  flex-direction: column;
  width: 1000px;
  align-items: center;
  background-color: white;
}
body .all-wrap .membership-form-wrapper #create-membership div {
  margin-bottom: 10px;
  padding: 10px;
}
body .all-wrap .membership-form-wrapper #create-membership label {
  display: inline-block;
  width: 150px;
  text-align: right;
  font-weight: bolder;
}
body .all-wrap .membership-form-wrapper #create-membership input {
  width: 400px;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
body .all-wrap .membership-form-wrapper #create-membership .description {
  display: flex;
  align-items: center;
}
body .all-wrap .membership-form-wrapper #create-membership .description label {
  padding-right: 5px;
}
body .all-wrap .membership-form-wrapper #create-membership textarea {
  border: 1px solid lightgray;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  width: 400px;
  height: 150px;
}
body .all-wrap .membership-form-wrapper .cancel {
  border: none;
  background-color: white;
  border-radius: 5px;
  font-weight: bold;
  padding: 11px;
}
body .all-wrap .membership-form-wrapper .cancel:hover {
  background-color: lavender;
}
body .all-wrap #success-message {
  display: none;
}/*# sourceMappingURL=service.css.map */