body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  .navigation {
    ul {
      display: flex;
      justify-content: center;
      gap: 30px;
      a {
        text-decoration: none;
        font-weight: 600;
        font-size: 25px;
        &:visited {
          color: inherit;
        }
      }
      li {
        list-style: none;
      }
    }
  }
  .all-wrap {
    background-color: #edf2f6;
    min-height: 100vh;
    margin: 0;

    .wrapper {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      h1 {
        margin-bottom: 5px;
      }
      p {
        margin-top: 0;
        font-size: 15px;
      }
    }

    .new-btn {
      width: 180px;
      height: 40px;
      border: none;
      border-radius: 5px;
      background-color: cornflowerblue;
      color: white;
      font-size: small;
      font-weight: bold;
      &:hover {
        background-color: indigo;
      }
    }
    #membership-cards {
      display: flex;
      justify-content: center;
      .card-div {
        display: flex;
        flex-direction: column;
        border: 1px solid lightgray;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        width: 400px;
        height: 200px;
        margin: 20px;
        background-color: white;

        p {
          text-align: center;
          font-weight: bold;
          padding-top: 10px;
          margin-bottom: 0;
        }
        .description-txt {
          // border-bottom: 1px solid lightgrey;
          font-weight: lighter;
          font-size: 11px;
          padding-bottom: 15px;
          margin-bottom: 0px;
        }
        .count-txt {
          font-size: smaller;
          margin: 0;
          border-bottom: 1px solid lightgray;
          padding-bottom: 5px;
        }
        // .line {
        //   width: 100%;
        //   color: lightgrey;
        //   height: 1px;
        // }
        .del-btn {
          align-self: flex-end;
          border: none;
          border-radius: 5px;
          padding: 15px;
          background-color: pink;
          margin: 8px;

          &:hover {
            background-color: palevioletred;
          }
          .fa-trash {
            color: red;
          }
        }
      }
    }

    .membership-form-wrapper {
      // display: none;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;

      #create-membership {
        border: 1px solid lightgray;
        margin: 20px;
        gap: 15px;
        display: flex;
        flex-direction: column;
        width: 1000px;
        align-items: center;
        background-color: white;
        div {
          margin-bottom: 10px;
          padding: 10px;
        }
        label {
          display: inline-block;
          width: 150px;
          text-align: right;
          font-weight: bolder;
        }
        input {
          width: 400px;
          height: 30px;
          border: 1px solid lightgray;
          border-radius: 3px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        }
        .description {
          display: flex;
          align-items: center;
          label {
            padding-right: 5px;
          }
        }
        textarea {
          border: 1px solid lightgray;
          border-radius: 3px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          width: 400px;
          height: 150px;
        }
      }

      .cancel {
        border: none;
        background-color: white;
        border-radius: 5px;
        font-weight: bold;
        padding: 11px;
        &:hover {
          background-color: lavender;
        }
      }
    }
    #success-message {
      display: none;
    }
  }
}
