body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  .navigation {
    ul {
      display: flex;
      justify-content: center;
      gap: 30px;
      a {
        text-decoration: none;
        font-weight: 600;
        font-size: 25px;
        &:visited {
          color: inherit;
        }
      }
      li {
        list-style: none;
      }
    }
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    h1 {
      margin-bottom: 5px;
    }
    p {
      margin-top: 0;
      font-size: 15px;
    }
  }

  .new-btn {
    width: 180px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: cornflowerblue;
    color: white;
    font-size: small;
    font-weight: bold;
    &:hover {
      background-color: indigo;
    }
  }
  #membership-cards {
    display: flex;

    .card-div {
      display: flex;
      flex-direction: column;
      border: 1px solid lightgray;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      width: 400px;
      height: 200px;
      margin: 20px;
      p {
        text-align: center;
        font-weight: bold;
        padding-top: 10px;
        margin-bottom: 0;
      }
      .description-txt {
        // border-bottom: 1px solid lightgrey;
        font-weight: lighter;
        font-size: 11px;
        padding-bottom: 25px;
        margin-bottom: 0px;
      }
      .line {
        width: 100%;
        color: lightgrey;
      }
      .del-btn {
        align-self: flex-end;
        border: none;
        border-radius: 5px;
        padding: 15px;
        background-color: pink;
        margin: 15px;
        &:hover {
          background-color: palevioletred;
        }
        .fa-trash {
          color: red;
        }
      }
    }
  }

  .membership-form-wrapper {
    // display: none;
    margin: 20px;
    width: 100%;
    align-items: center;
    //display: flex;
    flex-direction: column;
    #create-membership {
      border: 1px solid black;
      margin: 20px;
      gap: 15px;
      // display: flex;
      div {
        margin-bottom: 10px;
      }
      label {
        display: inline-block;
        width: 150px;
        text-align: right;
      }
      .cancel {
        border: none;
        background-color: white;
        border-radius: 5px;
        font-weight: bold;
        padding: 11px;
        &:hover {
          background-color: lavender;
        }
      }
      // grid-template-columns: 200px 300px;
      // grid-auto-rows: 1fr;
    }
    #success-message {
      display: none;
    }
  }
}
